body {
    background-color: #5E17EB;
    color: #FFFFFF;
    
    /* background-image: url('/static/assets/images/silhueta_cidade_1200x1200.png');
    background-size: cover;  
    background-repeat: no-repeat;   */
}





/* Estilo dos links */

/* Estilo padrão para os links */
.nav-link {
    color: #FFFFFF;
}

/* Estilo ao passar o mouse */
.nav-link:hover {
    color:yellow 
}

/* Estilo ao clicar */
.nav-link:active {
    color: yellow 
} 


#container-sorteio {
    background-color: white;
    border-radius: 25px;
    min-height: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

#formulario-presenca {
    display: none;

}

.font_subtitle {
    font-family: 'Kanit', sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.font_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}



/* Definindo tamanho dos botões */
.w-140 {
    width: 110px !important;
}

.h-140 {
    height: 110px !important;
}


.wh-40 {
    height: 50px !important;
    width: 100px !important; 
}

.wh-100 {
    height: 120px !important;
    width: 120px !important; 
}

/* Definindo cores dos Botões */
.btn-yellow {
    background-color: #EEA302;
    color: black; /* Cor do texto */
}

.btn-red {
    background-color: #FF3B25;
    color: white; /* Cor do texto */
}

.btn-blue {
    background-color: #80D8DA;
    color: white; /* Cor do texto */
}

.btn-yellow:hover, .btn-red:hover, .btn-blue:hover {
    border: 2px solid black; /* Define a espessura e a cor da borda */
    /* color: black; Cor do texto */
}

.btn-yellow:hover {
    background-color: #EEA302; /* Mesma cor de fundo que o .btn-yellow normal */
}

.btn-red:hover {
    background-color: #FF3B25; /* Mesma cor de fundo que o .btn-red normal */
}

.btn-blue:hover {
    background-color: #80D8DA; /* Mesma cor de fundo que o .btn-blue normal */
}


.carousel-item img {
    object-fit: cover;
    /* object-fit: contain; */
    /* width: 90%; */
    /* height: 70vh; */

    width: 630px;
    height: 450px;
    
    
    display: block;
    border: 1px solid #000; /* Cor e largura da borda desejada */
    border-radius: 10px; /* Opcional: Adiciona bordas arredondadas */
    margin: 0 0 0;
}





