SECRET_KEY=your-django-secret-key
POSTGRES_DB=postgres
POSTGRES_USER=your-database-user
POSTGRES_PASSWORD=your-database-password
DB_HOST=your-database-host
DB_PORT=5432
EMAIL_HOST_PASSWORD=your-gmail-app-password
