{% load static %}

<footer class="bg-[#5E17EB] py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center text-center">
            <!-- Logo -->
            {% comment %} <img src="{% static 'assets/images/Logo-500x500.ico' %}" alt="Sorteio Novo" class="h-12 mb-8">
             {% endcomment %}
            <!-- Informações de Contato -->
            <div class="space-y-2 mb-12">
                <h5 class="text-base font-semibold tracking-wider text-white uppercase">Entre em Contato</h5>
                <div class="mt-4 space-y-2">
                    <p class="text-lg text-white/90 hover:text-white transition-colors duration-300 font-light">
                        (11) 94507-9207
                    </p>
                    <p class="text-lg text-white/90 hover:text-white transition-colors duration-300 font-light">
                        contato@sorteionovo.com.br
                    </p>
                </div>
            </div>

            <!-- Copyright -->
            <div class="text-sm text-white/70 font-light tracking-wide">
                <p>Copyright © 2025 Sorteio Novo. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer> 