{% load static %}

<header class="bg-[#5E17EB] shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-4">
            <div class="flex items-center space-x-4">
                <img src="{% static '/assets/images/Logo 500x500.svg' %}" class="h-16 w-16" alt="Logo">
                <div class="flex items-center space-x-2">
                    <span class="text-white/50 text-xl">|</span>
                    <span class="text-xl font-kanit text-white">Sorteio Novo</span>
                    <span class="text-white/50 text-xl">|</span>
                </div>
            </div>
            
            <nav class="flex items-center space-x-6">
                <a href="#" class="text-white/80 hover:text-white transition duration-300">
                    <img src="{% static '/assets/images/insta_icone.svg' %}" class="h-6 w-6" alt="Instagram">
                </a>
                <a href="#" class="text-white/80 hover:text-white transition duration-300">
                    <img src="{% static '/assets/images/facebook_icone.svg' %}" class="h-6 w-6" alt="Facebook">
                </a>
                <a href="#" class="text-white/80 hover:text-white transition duration-300">
                    <img src="{% static '/assets/images/whats_icone.svg' %}" class="h-6 w-6" alt="WhatsApp">
                </a>
            </nav>
        </div>
    </div>
</header> 