{% load static %}

<header class="bg-[#5E17EB] shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-4">
            <div class="flex items-center space-x-4">
                <img src="{% static '/assets/images/Logo 500x500.svg' %}" class="h-14 w-14" alt="Logo">
                <div class="flex items-center space-x-3">
                    <span class="text-white/30 text-xl font-light">|</span>
                    <span class="text-xl tracking-wide font-light text-white">Sorteio Novo</span>
                    <span class="text-white/30 text-xl font-light">|</span>
                </div>
            </div>
            
            <nav class="flex items-center space-x-8">
                <a href="#" class="text-white/70 hover:text-white transition-all duration-300 transform hover:scale-105">
                    <img src="{% static '/assets/images/insta_icone.svg' %}" class="h-5 w-5" alt="Instagram">
                </a>
                <a href="#" class="text-white/70 hover:text-white transition-all duration-300 transform hover:scale-105">
                    <img src="{% static '/assets/images/facebook_icone.svg' %}" class="h-5 w-5" alt="Facebook">
                </a>
                <a href="#" class="text-white/70 hover:text-white transition-all duration-300 transform hover:scale-105">
                    <img src="{% static '/assets/images/whats_icone.svg' %}" class="h-5 w-5" alt="WhatsApp">
                </a>
            </nav>
        </div>
    </div>
</header> 