body {
    background-color: #5E17EB;
    color: #FFFFFF;
}


/* h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 100px;
    font-weight: 600;
} */


/* Estilo dos links */

/* Estilo padrão para os links */
.nav-link {
    color: #FFFFFF;
}

/* Estilo ao passar o mouse */
.nav-link:hover {
    color:yellow 
}

/* Estilo ao clicar */
.nav-link:active {
    color: yellow 
} 


#container-sorteio {
    background-color: white;
    border-radius: 25px;
    min-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
} 



#formulario-presenca {
    display: none;

}

.font_subtitle {
    font-family: 'Kanit', sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.font_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.linha-apartamento {
    opacity: 0; /* Esconde as linhas inicialmente */
    transition: opacity 1s ease-in-out; /* Transição suave da opacidade */
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-gif {
    width: 500px; /* Ajuste conforme o tamanho desejado do GIF */
    height: auto; /* Mantém a proporção do GIF */
}

.filtro-destacado {
    background-color: #f8f9fa; /* Cor de fundo mais clara para contraste */
    border: 2px solid black; /* Aumenta a espessura da borda para mais destaque */
    border-radius: 0.25rem; /* Arredondamento da borda */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Sombra mais pronunciada para profundidade */
    color: #495057;
    font-weight: bold; 
}

.filtro-destacado:focus {
    background-color: #f8f9fa; /* Mantém a cor de fundo mesmo em foco */
    border: 3px solid #0056b3; /* Cor de borda mais escura em foco para mais contraste */
    outline: none; /* Remove o contorno padrão para elementos em foco */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5); /* Sombra ainda mais pronunciada em foco */
}
